h1 {
	padding-top: 40px;
}
.pawprint {
	height:50px;
}
.form-group {
	margin-top: 3%;
	width:30%;
}
#animals {
	margin-top:15px;
}

#breeds {
	display:none;
	margin-top:15px;
	}
#location{
	margin-bottom:15px;
}
#zipcode{
	width:100%;
}
#submit {
	margin-top:15px;
}
#petList {
	display:none;
}

tr.clickable-row { 
	cursor: pointer; 
}
th {
    background-color: #337ab7;
    color: white;
} 
ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
