h1 {
	padding-top: 40px;
}
.pawprint {
	height:45px;
}
.form-group {
	margin-top: 3%;
	width:255px;
}
#animals {
	margin-top:15px;
}

#breeds {
	display:none;
	margin-top:15px;
	}
#location{
	margin-bottom:15px;
}
#zipcode{
	width:100%;
}
#submit {
	margin-top:15px;
}
#petList {
	display:none;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

h2{
	text-align: center;
}

.pic {
	height: 300px;
	background-repeat: no-repeat;
}

.petName {
	max-height: 36px;
	overflow: ellipsis;
}

.thumbnail {
	height: 500px;
}

.thumbnail:hover {
	background-color: #DCDCDC;
}
a:hover {
	text-decoration: none;
}
